<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>PathServlet</servlet-name>
        <servlet-class>com.zdy.project.wechat_chatroom_helper.servlet.PathServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>PathServlet</servlet-name>
        <url-pattern>/class/mapping</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ErrorReceiverServlet</servlet-name>
        <servlet-class>com.zdy.project.wechat_chatroom_helper.servlet.ErrorReceiverServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ErrorReceiverServlet</servlet-name>
        <url-pattern>/error/receiver</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomeInfoServlet</servlet-name>
        <servlet-class>com.zdy.project.wechat_chatroom_helper.servlet.HomeInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeInfoServlet</servlet-name>
        <url-pattern>/home/info</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>UserStatisticsServlet</servlet-name>
        <servlet-class>com.zdy.project.wechat_chatroom_helper.servlet.UserStatisticsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserStatisticsServlet</servlet-name>
        <url-pattern>/user/statistics</url-pattern>
    </servlet-mapping>

</web-app>